.container {
  /* Rest */
  height: 400px;

  /* Flexcontainer & Flexitems = display flex */
  display: flex;

  /* justify-content: flex-start (default) -> horizontal (main-axis) */
  justify-content: space-between;
  /* align items: stretch (default) -> vertical (cross-axis) */
  align-items: center;
}

.box {
  width: 100px;
  height: 100px;
  background-color: orange;
  margin: 0 5px;

  /* Schrift mit Flex zentrieren */
  display: flex;
  justify-content: center;
  align-items: center;
}

.MenuWrap {
  background-color: greenyellow;
  font-size: 1rem;
  padding: 0 1rem;
  max-height: 3rem;

  display: flex;
  align-items: center;
}

.ListItem,
.LastItem {
  text-decoration: none;
  color: red;
  margin-right: 1rem;
}

.LastItem {
  margin-left: auto;
}

.center {
  background-color: purple;
  color: white;
  height: 75px;
  text-transform: uppercase;
  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  display: flex;
  flex-direction: column;
}
