.my-first-grid {
  background-color: hsl(0, 0%, 89%);
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 200px 100px;

  /* fraction = relative */
  grid-template-columns: 1fr 2fr 3fr;
  /* falls fester wert nicht unterschritten (min / max) */
  grid-template-columns: minmax(100px, 1fr) minmax(200px, 2fr) minmax(50px, 1fr);
  /* anzahl columns -> anstatt 1fr 1fr 1fr 1fr */
  grid-template-columns: repeat(4, 1fr);
  /* very responsive */
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  /* abstände zwischen boxen */
  column-gap: 5px;
  row-gap: 4px;
  gap: 4px;
}

.grid-item-1 {
  background-color: black;
  color: white;
}
.grid-item-2 {
  background-color: red;
}
.grid-item-3 {
  background-color: yellow;
}
.grid-item-4 {
  background-color: blue;
  color: white;
}
