.my-first-grid {
  background-color: hsl(0, 0%, 89%);
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 200px 100px;

  /* fraction = relative */
  grid-template-columns: 1fr 2fr 3fr;
  /* falls fester wert nicht unterschritten (min / max) */
  grid-template-columns: minmax(100px, 1fr) minmax(200px, 2fr) minmax(50px, 1fr);
  /* anzahl columns -> anstatt 1fr 1fr 1fr 1fr */
  grid-template-columns: repeat(4, 1fr);
  /* very responsive */
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  /* abstände zwischen boxen */
  column-gap: 5px;
  row-gap: 4px;
  gap: 4px;

  grid-template: 100px 100px / 200px 100px;
}

.grid-item-1 {
  background-color: black;
  color: white;
}
.grid-item-2 {
  background-color: red;
  /* grid styling */
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  /* grs / gre */
  /* gcs / gce */
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  /* grs / gcs / gre / gce  */
  grid-area: 1 / 2 / 4 / 3;
  /* span einfach über mehrere spalten span 3 */
  /* gc: span 2 => gcs:1 / gce:span 2 */
  /* negativ geht auch mit -1 dann springt er nach oben */
  /* end dann trotzdem mit positiv */
  grid-auto-rows: 150px;
}

/* align-content: vertically <=> justify-content */
/* justify-items: horizontally <=> align-items */
/* place-item: align/justify */
/* place-content: align/justify */

.grid-item-3 {
  background-color: yellow;
}
.grid-item-4 {
  background-color: blue;
  color: white;
}
