h2 {
  font-size: 20px;
  text-align: center;
}

.container {
  display: inline-block;
  width: 150px;
}

.box {
  height: 40px;
  width: 40px;
  font-size: 10px;
  border-radius: 7px;
  margin: 50px auto;
}

/* tr-pro: all => default */
/* tr-dur: 0s => default */
.box1 {
  background-color: aqua;
  /* transition-property: all; */
  /* transition-duration: 1s; */
  transition: all 1s;
}

.box2 {
  background-color: lightcoral;
  transition-property: all;
  transition-duration: 3s;
}

.box3 {
  background-color: greenyellow;
  font-size: 20px;
  transition-property: font-size;
  transition-duration: 6s;
}

.example2 {
  font-size: 48px;

  /* transition: font-size 7s; */

  /* font, margin if more than one size or left */
  transition-duration: 7s;
  transition-property: font-size 15s, margin-left 3s;

  /* ease = default */
  transition-timing-function: ease;
}

.example2:hover {
  font-size: 86px;
  margin-left: 200px;
}
