/* Tag */
h3 {
  /* Property: Value = Declaration*/
  background-color: aquamarine;
}

h2 {
  color: white;
}

ul li {
  list-style-type: none;
}

.schlechter-name {
  background-color: green;
  color: white;
}

#indeed {
  background-color: yellow;
}
