html {
  scroll-behavior: smooth;
}

/* Selector - Tag, Class, Id */
h3 {
  /* Property: Value = Declaration*/
  /* Mehrere Declarations = Declaration Block */
  background-color: aquamarine;
}

h2 {
  /* RGB - Red Green Blue (0-255) */
  color: rgb(200, 60, 200);
  /* RGBA - Red Green Blue Alpha (0.0-1.0) */
  background-color: rgba(100, 0, 0, 0.3);
}

ul li {
  list-style-type: none;
}

.schlechter-name {
  background-color: green;
  /* Hexcode Farbcode */
  color: #fff;
}

#indeed {
  background-color: yellow;
}

.section {
  background-color: orange;
}

#firstid {
  background-color: blueviolet;
}

/* HOVER VOR ACTIVE SONST FUNZT NICHT */
a.test1:hover {
  color: black;
}

a.test1:active {
  color: seashell;
}

.parent {
  font-size: 80px;
}

/* Die 50% beziehen sich auf die 80px der parents */
/* Default Value wären normalerweise 16px */
/* absolute px */
/* relative % em rem weil es abhängig von anderen faktoren ist */
.parent p {
  font-size: 50%;
}

/* em = element */
.parent_em {
  font-size: 16px;
  background-color: yellow;
  padding: 2em;
}

/* em boxen */
.box {
  background-color: grey;
  border-radius: 1em;
  padding: 1em;
}

.box-klein {
  font-size: 12px;
}

.box-gross {
  font-size: 18px;
}

/* rem = root element */
/* normalerweise root element immer oben in css */
/* anstatt :root kann man auch html benutzen */
/* 62.5% = 10px */
:root {
  font-size: 62.5%;
}

.rem {
  font-size: 0.5rem;
}
