html {
  scroll-behavior: smooth;
}

/* Selector - Tag, Class, Id */
h3 {
  /* Property: Value = Declaration*/
  /* Mehrere Declarations = Declaration Block */
  background-color: aquamarine;
}

h2 {
  /* RGB - Red Green Blue (0-255) */
  color: rgb(200, 60, 200);
  /* RGBA - Red Green Blue Alpha (0.0-1.0) */
  background-color: rgba(100, 0, 0, 0.3);
}

ul li {
  list-style-type: none;
}

.schlechter-name {
  background-color: green;
  /* Hexcode Farbcode */
  color: #fff;
}

#indeed {
  background-color: yellow;
}

.section {
  background-color: orange;
}

#firstid {
  background-color: blueviolet;
}

/* HOVER VOR ACTIVE SONST FUNZT NICHT */
a.test1:hover {
  color: black;
}

a.test1:active {
  color: seashell;
}

.parent {
  font-size: 80px;
}

/* Die 50% beziehen sich auf die 80px der parents */
/* Default Value wären normalerweise 16px */
/* absolute px */
/* relative % em rem weil es abhängig von anderen faktoren ist */
.parent p {
  font-size: 50%;
}

/* em = element */
.parent_em {
  font-size: 16px;
  background-color: yellow;
  padding: 2em;
}

/* em boxen */
.box {
  background-color: grey;
  border-radius: 1em;
  padding: 1em;
}

.box-klein {
  font-size: 12px;
}

.box-gross {
  font-size: 18px;
}

/* viewport width height = vw / vh */
/* rem = root element */
/* normalerweise root element immer oben in css */
/* anstatt :root kann man auch html benutzen */
/* 62.5% = 10px */
:root {
  font-size: 62.5%;
}

.rem {
  font-size: 0.5rem;
}

/* Syntax = Border: width style color */
img.white-tiger {
  width: 400px;
  border: 14px outset green;
  border-radius: 10%;
  float: none;
  object-fit: cover;
}

/* 100% vom Bild bei start der Seite sehen */
/* in kombination mit header img.header_img */
header.main_header {
  height: 100vh;
  width: 100vw;
}

header img.header_img {
  height: 100%;
  width: 100%;
}

/* Prio ID/CLASS/TAG */
/* !important gewinnt immer */

.container {
  background-color: green;
}

div.width_first {
  border: 4px solid red;
}

div.width_second {
  /* default value = auto */
  width: 200px;
  border: 4px solid red;
}

div.width_third {
  width: 50%;
  border: 4px solid red;
}

/* margin 0 auto um in der mitte zu positionieren */
/* wichtig in kombination mit width sonst keine mitte */
.center {
  border: 4px solid green;
  width: 300px;
  margin: auto;
}

/* Overflow  - text geht über den border */
.overflow {
  border: 4px dotted black;
  width: 500px;
  height: 22px;
  /* default visible */
  /* overflow-x -y für nur bestimmte Achsen */
  overflow: auto;
}

/* box sizing => border + padding + width/height */
/* padding => top right bottom left */
/* padding => top/bottom right/left */
/* inline only use margin and padding left and right */
/* inline width, height padding/margin bottom and top are ugly */
